/*
	SADRZAJ:

	1. HOMEPAGE 44 - 339
		1.a Navigacija 44 - 83
		1.b First section 88 - 121
		1.c Second section 125 - 183
		1.d Third section 191 - 228 
		1.e Fourth section 232 - 291
		1.f Fifth section 293 - 326
		1.g Footer 330 - 334

	2. RESPONSIVE 353 - 580
		2.a media 1700
		2.b media 1600
		2.c media 1400
		2.d media 1366
		2.e media 1280
		2.f media 1200
*/

@font-face {
	src: url('../fonts/BerkshireSwash-Regular.ttf');
	font-family: 'BerkshireSwash';
}

@font-face {
	src: url('../fonts/Roboto-Light.ttf');
	font-family: 'Roboto';
}

@font-face {
	src: url('../fonts/Roboto-Black.ttf');
	font-family: 'Roboto-Black';
}

@font-face {
	src: url('../fonts/Roboto-Bold.ttf');
	font-family: 'Roboto-Bold';
}

* {
	padding: 0;
	margin: 0;
}

p, a {
	font-family: Roboto !important;
	color: #000 !important;
}

a:hover {
	text-decoration: none !important;
}

h1,h2,h3,h4 {
	font-family: BerkshireSwash !important;
}

body {
	background-color: #A7DACB !important;
}

/*
############################
######## HOMEPAGE ##########
############################
*/

/* Navigacija */

.main_menu {
	padding: 25px;
	display: flex;
}

.logo img {
	width: 300px;
}

.main_menu ul {
	display: flex;
	margin-left: auto;
}

.main_menu ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main_menu a {
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 2em;
	font-weight: bold;
	position: relative;
}

.main_menu a.active::before {
	content: '';
	background-image: url('../images/underline-active.png');
	position: absolute;
	top: 32px;
	left: 20px;
	width: 75px;
	height: 10px;
}

/* First section */

.first_section {
	margin-top: 4%;
	padding: 30px;
	display: flex;
}

.first_section img {
	margin-left: 11%;
}

.main_heading {
	position: relative;
}

.main_heading h1{
	position: absolute;
	top: 0;
	left: -130px;
	font-size: 5.5em;
	text-align: right;
	width: 480px;
}

.main_heading h1:after {
	content: '';
	background-image: url('../images/underline-serbian.png');
	width: 443px;
	height: 82px;
	position: absolute;
	bottom: 87px;
	right: -5px;
	z-index: -1;
}

/* Second section */

.second_section {
	padding: 18%;
	display: flex;
	background-image: url('../images/yellow-background-1.png');
	padding-top: 15%;
	padding-bottom: 10%;
	background-repeat: no-repeat;
	z-index: 10;
}

.vision_heading h1 {
	font-size: 5.5em;
	position: relative;
	z-index: 15;
}

.vision_heading h1:after {
	content: '';
	background-image: url('../images/underline-vision.png');
	width: 207px;
	height: 71px;
	position: absolute;
	top: 8px;
	left: 137px;
	z-index: -1;
}

.vision_paragraf p {
	font-size: 2.2em;
	line-height: 1.15em;
	width: 50%;
	margin-top: 5%;
}

.vision_right {
	position: relative;
}

.vision_right img {
	position: absolute;
	top: -120px;
	right: 0;
}

.call_to_action_buttons {
	display: flex;
	margin-top: 5%;
}

.call_to_action_buttons a {
	background-color: #A7DACB;
	border: 1px solid #000;
	padding: .5rem 1.5rem;
	font-size: 2.5em;
	text-align: center;
	border-radius: 40px;
	width: 300px;
	margin-right: 5%;
}

/* Third section */

.heading_service_section {
	display: flex;
	margin: auto;
	width: 60%;
	margin-bottom: 5%;
}

.heading_service_section h1 {
	font-size: 5.5em;
	position: relative;
	z-index: 15;
}

.heading_service_section h1:after {
	content: '';
    background-image: url(../images/underline-services.png);
    width: 271px;
    height: 71px;
    position: absolute;
    top: 8px;
    left: 137px;
    z-index: -1;
}

.heading_service {
	position: relative;
}

.heading_service h1 {
	position: absolute;
	bottom: 40px;
	left: -40px;
	width: 420px;
}

.service_section_body {
	display: flex;
	padding: 0 9%;
}

.service_card {
	width: 23%;
	margin: 45px;
	border: 2px solid #FDDC7C;
	background-color: #FDDC7C;
}

.service_card:last-child {
	padding-top: 25px;
}

.service_card p {
	font-size: 2.2em;
	text-align: center;
	padding: 50px;
	line-height: 1.15em;
}

.different_font {
	font-family: Roboto-Bold;
}

/* Fourth section */

.fourth_section {
	position: relative;
    background-image: url(../images/yellow-background-2.png);
    padding-top: 11%;
    padding-bottom: 10%;
    background-repeat: no-repeat;
    z-index: 10;
}

.fourth_section img {
	position: absolute;
	right: 7%;
	top: 18%;
	width: 400px;
}

.creator_kris {
	background-image: url(../images/underline-creator.png);
	background-position: bottom;
	background-repeat: no-repeat;
	width: 23%;
	padding-bottom: 8px;
}

.creator_andrea {
	background-image: url(../images/underline-creator-andrea.png);
	background-position: bottom;
	background-repeat: no-repeat;
	width: 23%;
	padding-bottom: 8px;
}

.fourth_section_main_heading {
	font-size: 5.5em;
	margin-left: 30px;
	position: relative;
}

.fourth_section_main_heading:after {
	content: '';
    background-image: url(../images/underline-creators.png);
    width: 524px;
    height: 84px;
    position: absolute;
    top: 1px;
    left: 172px;
    z-index: -1;
}

.creator_section_body {
	display: flex;
	position: relative;
	padding: 0 4%;
}

.creator_body_right {
	margin-top: 60px;
}

.paragraf_text {
	width: 60%;
}

.creator_section_body h2 {
	font-size: 3.5em;
}

.creator_section_body p {
	font-size: 2.2em;
}

.creator_body_left p {
	margin-left: auto;
}

.creator_first_child {
	margin-bottom: 4%;
}

.creator_body_left,
.creator_body_right {
	position: relative;
	display: flex;
}

.kris_image {
	position: absolute;
	bottom: 120px;
}

.creator_body_left_paragraf {
	text-align: right;
	margin-right: 6%;
}

.creator_body_right_paragraf {
	text-align: left;
	margin-left: 6%;
}

.creator_body_right_image {
	margin-left: 40px;
}

/* Fifth section */

.fifth_section {
	padding-top: 5%;
	margin: auto;
	width: 50%;
	text-align: center;
}

.fifth_section ul li {
	list-style-type: none;
}

.contact_button {
	display: block;
	background-color: #9FD0B3;
	border: 1px solid #000;
	padding: .5rem 1.5rem;
	font-size: 2.5em;
	text-align: center;
	border-radius: 40px;
	width: 300px;
	margin: auto;
	margin-top: 7%;
	margin-bottom: 7%;
}

.fifth_section li a, .fifth_section p {
	font-size: 2.2em;
}

.fifth_section p {
	margin: 0;
}

/* Footer */

.footer {
	display: flex;
	margin-top: 5%;
}

.footer div {
	width: 33%;
	text-align: center;
}

.footer_logo img {
	width: 215px;
}

.footer p {
	font-size: 2em;
}

/*
############################
######## RESPONSIVE ########
############################
*/

@media (max-width: 1700px) {
	/* First section */

	.first_section img {
		margin-left: 6%;
	}

	/* Second section */

	.vision_right img {
		top: -75px;
	}

	/* Third section */

	.service_card p {
		padding: 30px;
	}

	/* Fourth section */

	.fourth_section img {
		width: 350px;
		top: 20%;
	}

	.creator_kris {
		width: 27%;
	}
}

@media (max-width: 1600px) {
	/* First section */

	.first_section img {
		width: 60%;
	}

	.main_heading h1, .vision_heading h1, .heading_service_section h1, .creator_section_heading h1, .fourth_section_main_heading {
		font-size: 4.5em;
	}

	/* Second section */

	.second_section {
		padding-top: 19%;
		padding-bottom: 15%;
	}

	.vision_heading h1:after {
		top: 37px;
		left: 28px;
	}

	.vision_paragraf p {
		font-size: 2em;
		margin-top: 10%;
	}

	.vision_right img {
		top: -25px;
	}

	/* Fourth section */

	.fourth_section img {
		width: 290px;
	}

	.fourth_section_main_heading:after {
		width: 385px;
	}
}

@media (max-width: 1400px) {
	/* Second section */

	.second_section {
		padding-bottom: 20%;
	}

	.vision_right img {
		top: -10px;
		width: 450px;
		right: 50px;
	}

	/* Third section */

	.service_card p {
		padding: 10px;
	}

	.heading_service_section {
		width: 55%;
	}

	.heading_service_section img {
		width: 500px;
	}

	/* Fourth section */

	.fourth_section {
		padding-top: 19%;
		padding-bottom: 22%;
	}

	.creator_section_body p {
		font-size: 1.5em;
	}

	.creator_section_body h2 {
		font-size: 2.5em;
	}

	.creator_andrea {
		width: 36%;
	}

	/* Fifth section */

	.fifth_section li a, .fifth_section p {
		font-size: 1.5em;
	}

	/* Footer */

	.footer p {
		font-size: 1.3em;
	}
}

@media (max-width: 1366px) {
	/* Navigacija */

	.main_menu a {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		font-size: 1.6em;
	}

	/* Second section */

	.second_section {
		padding-bottom: 25%;
	}

	.vision_right img {
		top: 0;
	}

	.call_to_action_buttons a {
		font-size: 2em;
		margin-right: 3%;
	}

	.vision_paragraf p {
		width: 57%;
	}
}

@media (max-width: 1280px) {
	/* Second section */

	.vision_right img {
		right: 0;
	}

	/* Fourth section */

	.creator_section_image img {
		width: 300px;
		margin-bottom: 30px;
	}
}

@media (max-width: 1200px) {
	/* Navigacija */

	.main_menu a.active::before {
		top: 23px;
		left: 14px;
	}

	.main_menu a {
		padding-left: 1.2rem;
	    padding-right: 1.2rem;
	    font-size: 1.3em;
	}

	/* First section */

	.main_heading h1, .vision_heading h1 {
		font-size: 3.5em;
		width: 370px;
	}

	.main_heading h1:after {
		height: 35px;
		bottom: 55px;
	}

	/* Second section */

	.second_section {
		padding-top: 32%;
	}

	.vision_heading h1:after {
		height: 30px;
		top: 28px;
		left: 9px;
	}

	.vision_right img {
		width: 370px;
	}

	.vision_paragraf p {
		font-size: 1.5em;
	}

	.call_to_action_buttons a {
		font-size: 1.5em;
		width: 250px;
	}

	/* Third section */

	.heading_service_section h1, .creator_section_heading h1, .fourth_section_main_heading {
		font-size: 3.5em;
	}

	.heading_service_section img {
		width: 400px;
	}

	/* Fourth section */

	.fourth_section_main_heading:after {
		width: 340px;
		height: 59px;
		left: 110px;
	}
}

@media (max-width: 1100px) {
	/* Fourth section */

	.fourth_section img {
		width: 240px;
	}
}